<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="~/Static/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Static/adminlte/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="~/Static/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        <partial name="@Portfolio.Utility.Folders.Header" />
        <partial name="@Portfolio.Utility.Folders.Sidebar" />

        <div class="content-wrapper">
            <div class="content-header">
                <h1 class="text-center font-weight-bold">@ViewData["Title"]</h1>
                <div class="container-fluid">

                    @*
                    <div class="row mb-2">
                    <div class="col-sm-6">
                    <h1 class="m-0">@ViewBag.Page</h1>
                    </div>
                    <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Page</li>
                    </ol>
                    </div>
                    </div>
                    *@
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        <input type="hidden" id="activeSidebarSection" value="@ViewBag.SidebarSection" />
        <input type="hidden" id="activeSidebarSubSection" value="@ViewBag.SidebarSubSection" />

        <partial name="@Portfolio.Utility.Folders.Footer" />
    </div>
    @*
    <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header>
    <div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div>

    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Portfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@

    <script src="~/Static/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/Static/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Static/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Static/adminlte/dist/js/adminlte.min.js"></script>

    <script src="~/Static/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        let SidebarSection = document.getElementById('activeSidebarSection').value;
        let SidebarSubSection = document.getElementById('activeSidebarSubSection').value;

        $(".nav-link").removeClass("active");
        $(".nav-item").removeClass("menu-open menu-is-opening");
        $("a[name='" + SidebarSection + "']").addClass("active");
        $("li[name='" + SidebarSection + "']").addClass("menu-open menu-is-opening");

        $("a[name='" + SidebarSubSection + "']").addClass("active");
        $("li[name='" + SidebarSubSection + "']").addClass("menu-open menu-is-opening");
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
